@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Newsreader:opsz,wght@6..72,400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;

  --color-background: #fcfcf9;
  --color-foreground: #1a1a1a;
  --color-accent: #9333ea;
  /* Purple pop */
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}